.MainDiv{
    /* background-image: url('https://cdn.wallpapersafari.com/68/60/VKy1AE.jpg'); */
    background-image: url('D:\RAJIN KHATRI\personal-website\personalweb\src\images\moon.jpg');
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: bisque;
    background-color: rgb(21, 19, 19);
    padding-left: 100px;
    overflow: hidden;
}

.TopDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.mainText{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.mainText h1{
    font-size: 4rem;
    color: white;
    font-weight: 600;
}

.mainText p{
    font-size: 7rem;
    color: white;
    font-weight: 900;
    padding-left: 50px;
}

.Role{
    color: white;
    font-size: 1.5rem;
    padding-left: 180px;
}

.ImageHead{
    padding-top: 75px;
    padding-right: 50px;
}

.ImageHead img{
    width: 350px;
    height: auto;
    border-radius: 50%;
}

.Quote{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 50px;
    color: azure;
    font-weight: 600;
    font-size: 3rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
    margin-bottom: 35px;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}