.Home{
    padding: 100px;
    background-color: rgb(5, 4, 4);
    font-family: 'Courier New', Courier, monospace;
    background-image: url('D:\RAJIN KHATRI\personal-website\personalweb\src\images\stars.jpg');
    /* background-image: url('D:\RAJIN KHATRI\personal-website\personalweb\src\images\codebg.jpg'); */
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.mainText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subText{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subText h1{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-left: 100px;
}

.subText p{
    font-size: 6rem;
    color: rgb(7, 116, 116);
    margin-left: 50px;
}

.Header2{
    font-size: 1.5rem;
    padding-left: 100px;
    color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
}

.Header2 li{
    list-style: none;
    margin: 0px 10px;
}

#identity1{
    padding-left: 50px;
}

#identity2{
    padding-left: 75px;
}

#identity3{
    padding-left: 100px;
}

.profileimage{
    width: 350px;
    height: auto;
    border-radius: 50%;
}