.Header {
    height: 100%;
    position: fixed;
    background-color: rgb(108, 100, 100);
    border-radius: 10px;
}

.navigation {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

button{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-color: inherit;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-width: 2px;
    transition: transform 1s;
}

button:hover{
    background-color: aqua;
    color: rgb(255, 255, 255);
    cursor: grab;
    transform: scale(1.1);
}

button:focus{
    background-color: aqua;
    color: white;
}

button p{
    font-weight: 900;
    font-size: 15px;
}